<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Streaks</title>
        <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <h1>Welcome to Streaks!</h1>
        <form class="newTargetForm-js">
            <input type="text" id="targetName" placeholder="New Target">
            <input type="text" id="targetDescription" placeholder="Description">
            <button type="submit">Submit</button>
        </form>
        <h3>Your targets:</h3>
        <ul class="targetList-js">
        </ul>

        <script src="/javascripts/index.js"></script>
        <script src="/javascripts/time.js"></script>
    </body>
</html>